[Unit]
Description=Tautulli - Stats for Plex Media Server usage
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 /opt/apps/tautulli/.appdata/Tautulli.py --config /opt/apps/tautulli/.appdata/config.ini --datadir /opt/apps/tautulli/.appdata --quiet --nolaunch
User=tautulli
Group=media
Restart=on-abnormal
RestartSec=5
StartLimitInterval=90
StartLimitBurst=3

[Install]
WantedBy=multi-user.target