---
- name: Set a hostname
  hostname:
    name: jackett

- name: Create OPT APPS APPDATA directory
  file:
    path: /opt/apps/jackett/.appdata/
    state: directory
    group: media
    owner: jackett
    mode: '770'

- name: Setup /etc/hosts file
  ansible.posix.synchronize:
    checksum: yes
    src: hosts
    dest: /etc/hosts
    owner: yes
    group: yes

# Install the application
- name: Import GPG Key
  rpm_key:
    key: "https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF"
    state: present

- name: Import the Mono Repo
  yum_repository:
    name: "mono-centos8-stable"
    description: "Mono Project Linux Repository"
    baseurl: "https://download.mono-project.com/repo/centos8-stable/"
    enabled: yes
    gpgkey: "https://download.mono-project.com/repo/xamarin.gpg"
    gpgcheck: yes
    keepcache: "0"
    metadata_expire: "1"

- name: Import jackett Required Utilities
  vars:
    jackett_tools:
      - wget
      - git
      - par2cmdline
      - p7zip
      - unrar
      - unzip
      - tar
      - gcc
      - python3-feedparser
      - python3-configobj
      - python3-cheetah
      - python3-dbus
      - python3-devel
      - libxslt-devel
      - yum-utils
      - mediainfo
      - libzen
      - libmediainfo
      - curl
      - gettext
      - mono-core
      - mono-devel
      - sqlite
  dnf:
    name: "{{ jackett_tools }}"
    state: latest
    update_cache: yes

- name: Get jackett Sources
  get_url:
    url: https://services.jackett.tv/v1/download/phantom-develop/latest?version=3&os=linux
    dest: /opt/apps/jackett/jackett.tar.gz

- name: Unarchive jackett Sources
  unarchive:
    remote_src: yes
    src: /opt/apps/jackett/jackett.tar.gz
    dest: /opt/apps/jackett/.appdata/

- name: Move folder
  stat:
    path: /opt/apps/jackett/.appdata/jackett
  register: virginpath

- name: Rename jackett to bin
  command:
    cmd: mv /opt/apps/jackett/.appdata/jackett /opt/apps/jackett/.appdata/bin
  when: virginpath.stat.exists

- name: Remove TAR archive
  file:
    name: /opt/apps/jackett/jackett.tar.gz
    state: absent

- name: Update Ownership and Permissions
  file:
    path: /opt/apps/jackett/
    owner: jackett
    group: media
    mode: '0770'
    recurse: yes

- name: Copy systemd service file
  ansible.posix.synchronize:
    checksum: yes
    src: jackett.service
    dest: /etc/systemd/system/jackett.service
    owner: yes
    group: yes
  register: systemd

- name: Reload systemd
  systemd:
    daemon_reload: yes
  when: systemd.changed

- name: Enable and Start jackett
  systemd:
    name: jackett
    enabled: yes
    state: started

