---
- name: Setup Repositories
  import_tasks: repos.yml

- name: Remove Utilities
  dnf:
    name: "{{ item }}"
    state: absent
    autoremove: yes
    allowerasing: yes
    update_cache: yes
  with_items:
    - firewalld
    - firewalld-filesystem
    - selinux-policy
    - selinux-policy-targeted
    - rpm-plugin-selinux
    - libselinux-utils
    - policycoreutils
    - policycoreutils-dbus
    - checkpolicy
    - python3-audit
    - python3-libsemanage
    - python3-policycoreutils
    - python3-libselinux

- name: Install Utilities
  dnf:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  with_items:
    - open-vm-tools
    - rsyslog
    - nfs-utils
    - dnf-utils
    - coreutils
    - python3
    - dbus
    - dbus-common
    - dbus-daemon
    - dbus-glib
    - dbus-libs
    - dbus-tools
    - policycoreutils-dbus
    - python3-dbus
    - python3-setuptools
    - python3-pip-wheel
    - python3-policycoreutils

- name: Set Swappiness
  sysctl:
    name: vm.swappiness
    value: '10'
    state: present

- name: Disable IPv6 with sysctl
  sysctl:
    name: "{{ item }}"
    value: "1"
    state: present
  with_items:
    - net.ipv6.conf.all.disable_ipv6
    - net.ipv6.conf.default.disable_ipv6
    - net.ipv6.conf.lo.disable_ipv6

- name: Update Grub default config for CentOS 8
  shell: grubby --remove-args="{{ item }}" --update-kernel=ALL
  with_items:
    - rhgb

- name: Update Grub default config for CentOS 8
  shell: grubby --args="{{ item }}" --update-kernel=ALL
  with_items:
    - selinux=0
    - ipv6.disable=1
    - fsck.mode=force
    - fsck.repair=yes

- name: Setup default .bashrc file
  copy:
    src: bashrc
    dest: /etc/skel/.bashrc
    state: file
    owner: root
    group: root

- name: Setup root .bashrc file
  copy:
    src: bashrc
    dest: /root/.bashrc
    state: file
    owner: root
    group: root

- name: Upgrade all packages
  dnf:
    name: "*"
    state: latest
