---
- name: Find Gnome Folder
  stat:
    path: /etc/xdg/autostart/gnome-initial-setup-first-login.desktop
    follow: no
  register: p

- name: Disable GNOME Initial Setup
  lineinfile:
    path: /etc/xdg/autostart/gnome-initial-setup-first-login.desktop
    line: "X-GNOME-Autostart-enabled=false"
    state: present
  when: p.stat.exists
      
- name: Setup Repositories
  import_tasks: repos.yml

- name: Remove Utilities
  vars:
    yum_remove:
      - firewalld
      - firewalld-filesystem
      - selinux-policy
      - selinux-policy-targeted
      - rpm-plugin-selinux
      - libselinux-utils
      - policycoreutils
      - policycoreutils-dbus
      - checkpolicy
      - python3-audit
      - python3-libsemanage
      - python3-policycoreutils
      - python3-libselinux
  dnf:
    name: "{{ yum_remove }}"
    state: absent
    autoremove: yes
    update_cache: yes

- name: Install Utilities
  vars:
    yum_install:
      - open-vm-tools
      - rsyslog
      - nfs-utils
      - dnf-utils
      - coreutils
      - python3
      - dbus
      - dbus-common
      - dbus-daemon
      - dbus-glib
      - dbus-libs
      - dbus-tools
      - policycoreutils-dbus
      - python3-dbus
      - python3-setuptools
      - python3-pip-wheel
      - python3-policycoreutils
  dnf:
    name: "{{ yum_install }}"
    state: latest
    update_cache: yes

- name: Set Swappiness
  sysctl:
    name: vm.swappiness
    value: '10'
    state: present

- name: Update Grub default config for CentOS 8
  shell: grubby --remove-args="{{ item }}" --update-kernel=ALL
  with_items:
    - rhgb

- name: Update Grub default config for CentOS 8
  shell: grubby --args="{{ item }}" --update-kernel=ALL
  with_items:
    - selinux=0
    - ipv6.disable=1
    - fsck.mode=force
    - fsck.repair=yes

- name: Setup default .bashrc file
  ansible.posix.synchronize:
    checksum: yes
    src: bashrc
    dest: /etc/skel/.bashrc
    owner: yes
    group: yes

- name: Setup root .bashrc file
  ansible.posix.synchronize:
    checksum: yes
    src: bashrc
    dest: /root/.bashrc
    owner: yes
    group: yes

- name: Upgrade all packages
  dnf:
    name: "*"
    state: latest
