---
- name: Remove Repo Dir
  file:
    path: /etc/yum.repos.d
    state: absent

- name: Create Repo Dir
  file:
    path: /etc/yum.repos.d
    owner: root
    group: root
    mode: '0755'
    state: directory

- name: Refresh RHSM
  shell:
    cmd: subscription-manager refresh

- name: Create the Google Repository
  yum_repository:
    file: google-chrome
    name: google-chrome
    description: Google Chrome RPM repository
    baseurl: http://dl.google.com/linux/chrome/rpm/stable/x86_64
    enabled: 1
    gpgcheck: 1
    gpgkey: https://dl.google.com/linux/linux_signing_key.pub
  when: gnome.stat.exists

- name: Add EPEL Repository
  yum_repository:
    file: epel
    name: epel
    description: EPEL YUM Repository
    baseurl: https://dl.fedoraproject.org/pub/epel/8/Everything/x86_64/
    gpgkey: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-8
    gpgcheck: yes
    enabled: yes
    state: present

- name: Add RPM Fusion FREE
  yum_repository:
    file: rpm_fusion
    name: rpm_fusion_free
    description: RPM Fusion Repo
    baseurl: https://download1.rpmfusion.org/free/el/updates/8/x86_64/
    gpgcheck: no
    enabled: yes
    state: present

- name: Add RPM Fusion UnFree
  yum_repository:
    file: rpm_fusion
    name: rpm_fusion_unfree
    description: RPM Fusion UnFree Repo
    baseurl: https://download1.rpmfusion.org/nonfree/el/updates/8/x86_64/
    gpgcheck: no
    enabled: yes
    state: present

- name: Rsyslog
  yum_repository:
    file: rsyslog
    name: rsyslog_v8
    description: Adiscon CentOS-$releasever - local packages for $basearch
    baseurl: http://rpms.adiscon.com/v8-stable/epel-$releasever/$basearch
    enabled: yes
    gpgcheck: yes
    gpgkey: http://rpms.adiscon.com/RPM-GPG-KEY-Adiscon
    protect: yes
    state: present
